@font-face {
  font-family: 'win-font';
  src: url(../src/asset/fonts/W95FA.otf);
  font-display: block;
}
@font-face {
  font-family: 'win-font-bold';
  src: url(../src/asset/fonts/MS-Sans-Serif-8pt-bold.ttf);
  font-display: block;
}
:root{
  /* background colors */
  --shade0: #008080;
  --shade1: #272727;
  /* windowtaskbar colors */
  --shade2: #c3c3c3;
  --shade3: #414141;
  /* border colors */
  --shade4: #ebebeb;
  --shade5: #252525;
  --shade6: #b3b3b3;
  --shade7: #060606;
  /* border colors for time-item only*/
  --shade8: #797979;
  --shade9: #1a1a1a;
  --shade10: #a0a0a0;
  --shade11:#8c8c8c;
  --shade12: #f1f1f1;
  --shade13: #010066;
  --shade14: #c0c0be;
  --sahde15: #818180;
    /* font colors */
  --shade16: #000;
  --shade17: #c0c0c0;
}
.light {
  --bg : var(--shade0);
  --fcolor : var(--shade16);
  --navbg : var(--shade2);
  --borshade0 : var(--shade4);  
  --borshade1 : var(--shade7);
  --borshade2 : var(--shade8);
  --borshade3 : var(--shade4);   
  --bachov : var(--shade13);
  --bannercol : var(--shade14);
  --bannerbg: var(--sahde15);
  --fill: var(--shade3);
}
.dark { 
  --bg : var(--shade1);
  --fcolor: var(--shade17);
  --navbg: var(--shade3);
  --borshade0: var(--shade6);
  --borshade1: var(--shade7);
  --borshade2 : var(--shade9);
  --borshade3 : var(--shade10);
  --bachov : var(--shade1);
  --bannercol : var(--shade17);
  --bannerbg: var(--shade1);
  --fill: var(--shade17);
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fcolor);
  font-family: 'win-font';
  letter-spacing: 0.4px;
  z-index: 1;
  user-select: none;
}

.wintaskbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--navbg);
  position: fixed;
  left: 0;
  z-index: 2;    
}
.wintaskbar-outer-item{
  display: flex;
}
.wintaskbar-item {
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  background-color: inherit;
  border: none;
  outline: none;
  border: 2px solid ;
  font-weight: 900;
  /* just to make the item align perfectly at center */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wintaskbar-item:hover{
  cursor: pointer;
}
/* just for the input background only and placeholder */
.wintaskbar-item-inp::placeholder{
  font-family: 'win-font';
  font-size: 16px;
  color: var(--fcolor);
  
}
.wintaskbar-item-inp-light{
   background-image: url(../src/asset/image/background-input.png);
}
.wintaskbar-item-inp-dark{
  background-image: url(../src/asset/image/background-input-dark.png);
}
/* just for time-item font weight */
.wintaskbar-item-time{
  font-weight: lighter;
}
/*  */
.winstart-item-start{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5px;
}
.winstart-item-start > svg{
  height: 20px;
  width:20px;
  z-index: -1;
}

/* for time-item border only */
.wintaskbar-item-border2{
  border: 1.8px solid;
  border-top-color: var(--borshade2);
  border-left-color: var(--borshade2);
  border-bottom-color: var(--borshade3);
  border-right-color: var(--borshade3);
}
/* for common menu  box */
.commonMenuBox{
  display: flex;
  flex-direction: column;
  background-color: var(--navbg);
  border: 2px solid ;
  padding: 1px 0 1px 0;
}
/* for the window start box */
.winstartbox{
  display: flex;
  background-color: var(--bannerbg);
  border: 2px solid ;
  z-index: 2;
}
.winstartbox-outer-item-1{
  display: flex;
  writing-mode: vertical-rl;
}
.winstartbox-inner-bottom{
  font-family: 'win-font-bold';
  color: var(--bannercol);
  padding: 3px 0px 4px 0;
  align-self: flex-end;
}
.winstartbox-inner-top{
  color: var(--shade12);
  font-size: 20px;
  padding: 4px 0px 100px 0;
  align-self: flex-start;
  filter: brightness(200);
}
.winstartbox-outer-item-2{
  display: flex;
  flex-direction: column;
  background-color: var(--navbg);
}
.socialmedia{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0px 6px;
}
.socialmedia-item > svg {
    fill: var(--fill);
    height: 22px;
    width:22px;
}
.socialmedia-item > svg :hover{
  fill: var(--bachov); 
}

/* for window rightclick item and window taskbar setting item*/
.wincommon-item{
  background-color: inherit;
  padding: 0.12rem 1rem;
  margin-right: 1px;
}
.wincommon-item:hover{
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bachov);
  color: var(--shade12);
}
/* common line i,e a line between the items for separation */
.commonLine {
  margin: 0px 4px;
  border-top: 1.4px solid var(--shade11);
  border-bottom: 1.4px solid var(--shade12);
}
.winbg{
  position: fixed;
  z-index: -1;
  padding: 2px 4px;
  right: 0;
}
.winbg > svg{
  fill: var(--shade2);
  height: 35px;
  width: 185px;
}
.my-computer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  padding: 8px;
  color: var(--shade17);
  font-weight: lighter;
  position: fixed;
  z-index: 1;
}
.my-computer > span{
  font-size: 14px;
  filter: brightness(2);
}
.explorer-main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--navbg);
  z-index: 2;
  border: 2px solid;
}
.explorer-outer-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  margin-right: 1px;
  padding: 3px 4px ;
  background-color: var(--bachov);
  color: var(--shade4);
}
.explorer-outer-item1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.explorer-inner-item{
  border: 9px solid;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.just-font{
  font-weight: 500;
}
/* for some common use I have to shift down this css*/
.wintaskbar-item-border0{
  border-top-color: var(--borshade0);
  border-left-color: var(--borshade0);
  border-bottom-color: var(--borshade1);
  border-right-color: var(--borshade1);
}
.wintaskbar-item-border1{
  border-top-color: var(--borshade1);
  border-left-color: var(--borshade1);
  border-bottom-color: var(--borshade0);
  border-right-color: var(--borshade0);
  border-radius: 0%;
}
/* for mobile responsive */
@media screen and (max-width : 600px){
  .wintaskbar-item{
    padding: 0.2rem 0.4rem;
    margin: 0.2rem  0.1rem;
  }
  .wintaskbar-item-inp{
    width: 120px;
  }
  
  .winstartbox-inner-bottom{
    padding: 3px 2px 4px 0;
  }
  .winstartbox-inner-top{
    padding: 4px 2px 100px 0;
  }
  .winbg > svg{
    height: 30px;
    width: 170px;
  }
  .just-font{
    font-weight: 900;
  }
}
